/* id tags */
a
{ text-decoration:none; }

ul
{ list-style-type:none; }

#pressContainer
{ margin:0 auto; width:756px; overflow:hidden; text-align:left;
  background-color:#ffffff; padding:10px; }
#pressContainer2
{ border:solid 1px #c9c9c9; }
#pressContainer3
{ border:none; }
#pressContainer4
{ border:solid 1px #c9c9c9; margin-left:11px; margin-bottom:10px; /*position:relative;*/ 
    width:726px; }
#pressContainer5
{ border:solid 1px #c9c9c9; margin-left:11px; margin-bottom:10px; /*position:relative;*/ 
    width:500px; }
#pressContainer6
{ border:solid 1px #c9c9c9; margin-bottom:10px; /*position:relative;*/ 
    width:155px; clear:both; float:right; }

#pressRoom
{ width:754px; }

#tabHeader
{ float:left; width:100%; background:#DAE0D2 url("/i/pressroom/tab_border.png") repeat-x bottom; 
    font-size:93%; line-height:normal; }
#tabHeader ul
{ margin:0; padding:10px 10px 0; list-style:none; }
#tabHeader li
{ float:left; background:url("/i/pressroom/tab_right_off.png") no-repeat right top; margin:0; 
    padding:0 0 0 9px; }
#tabHeader a
{ display:block; background:url("/i/pressroom/tab_left_off.png") no-repeat left top; 
    padding:5px 15px 4px 6px; }
#tabHeader #tabCurrent
{ background-image:url("/i/pressroom/tab_right_on.png"); }
#tabHeader #tabCurrent a
{ background-image:url("/i/pressroom/tab_left_on.png"); padding-bottom:5px; }



/* class tags */
div.pressItem
{ padding-bottom:20px; border-bottom:1px solid #c9c9c9;
position:relative; text-align:left; margin-bottom:20px; width:726px; }
div.pressItem div.icon
{float:left; padding-left:10px; width:135px }
div.pressItem div.prTitleNBlurb
{ margin:0px 0px 0px 170px; width:540px; }
/*
div.pressFVItem
{ width:488px; }
div.pressFVItem div.iconFV
{float:left; padding-left:10px; width:135px }
div.pressFVItem div.fvTitleNBlurb
{ margin:0px 0px 0px 170px; width:540px; }


div.pressFVItem div.fvMediaResources
{ width:154px; float: right } */


div.pressItem div.author
{ float:right; text-align:right; margin:5px 0px 10px 10px; }
div.pressItem p.title
{ padding:0px; margin:0px 0px 10px 0px; }
div.pressItem p.blurb
{ padding:0px; margin:0px; }
div.pressItem div.links
{ clear:both; margin:0px 0px 0px 0px; text-align:right; }

div.newsArch
{ background-color:#ffffff; border:1px solid #000000; 
overflow:hidden; width:525px; }
div.newsArch td.header
{ background-color:#cccccc; padding-left:10px; }

.bold
{ font-weight:bold; }

.hdrRight
{ text-align:right; font-weight:bold; width:525px; border-bottom:1px solid #000000; 
font-style:italic;  }


.floatL
{ float:left; }
.floatR
{ float:right; }