/* GENERAL SITE STYLES */
div{ }
td{ }
body{
 background: #ffffff url(/i/registration/cockpitPageBG.png) top center no-repeat;
 border-top: 1px solid #ffffff;
}
iframe{
 width: 520px;
 height: 200px;
}
input{
 margin: 0;
 padding: 0;
}
#pageAligner{
}
#pageSpacer{
 margin: 70px 10px 10px 10px;
 padding: 0 0 10px 0;
 width: 530px;
 text-align: left;
 border: 1px solid #cccccc;
 background: #ffffff;
}
#pageBranding{
 display: none;
 padding:6px 0px 6px; 0px;
}
#pageBranding a{
 display: block;
 width: 190px;
 height: 28px;
 background: transparent url(/i/registration/tc_logo.gif) center center no-repeat;
}
#pageBranding a:link, #pageBranding a:visited, #pageBranding a:hover, #pageBranding a:active {
 text-decoration: none;
}
#pageTitle{
 height: 28px;
 background: #595959 url(/i/registration/cockpitPageTitleBG.png) left bottom repeat-x;
 margin: 1px 1px 0 1px;
 padding: 0 0 0 11px;
}
#pageTitle div{
 height: 28px;
 width: 56px;
 margin: 0px;
 padding: 0px;
 background: transparent url(/i/registration/cockpitPageTitle.png) left center no-repeat;
}
div.topMessage{
 display: none;
}
div.popUp {
 display: none;
 position: absolute;
 top: 0px;
 left: 0px;
 z-index: 100;
}
div.popUp div {
 float: left;
 line-height: normal;
 font-weight: normal;
 font-size: 11px;
 background: #FFFFCC;
 border: 1px solid #999999;
 padding: 4px 6px 4px 6px;
 white-space: nowrap;
}
div.regSection{
 text-align: center;
 padding: 10px 0 6px 0;
 font-weight: bold;
 text-transform: uppercase;
 color: #000000;
}
.justUS{ }
.global{ display: none; }
#regBcContainer, #handleWarning, #secretWarning
{
 display: none;
}
table.regFields{
 margin: 0 1px 1px 1px;
 width: 528px;
}
table.regFields tr.odd td{
 background: #f2f2f2;
}
table.regFields tr.even td{
 background: #ffffff;
}
table.regFields tr.error td{
 color: #ff0000;
 padding-left: 185px;
 font-size: 12px;
 font-weight: bold;
 text-decoration: none;
 text-align: left;
}
table.regFields td.field, table.regFields td.value{
 color: #3c3c3c;
 font-size: 12px;
 font-style: normal;
}
table.regFields tr.odd td.field, table.regFields tr.even td.field
{
 padding: 4px;
 text-align: right;
 width: 120px;
 vertical-align: top;
 font-weight: bold;
 white-space: nowrap;
 width: 175px;
}
table.regFields tr.odd td.value, table.regFields tr.even td.value {
 padding: 4px;
 font-weight: bold;
}
table.whatToDo td
{
 vertical-align: top;
 border-top: 1px solid #999999;
}
table.whatToDo td.image
{
 padding-bottom: 10px;
}
table.whatToDo td.text
{
 padding: 10px 0px 10px 10px;
}
div.regHead
{
 background: #FFFFFF url(/i/registration/head_bg.jpg) center left repeat-y;
 color: #FFFFFF;
 font-weight: bold;
 padding: 6px 10px 6px 10px;
}
#legend{
 padding: 10px;
}
#submitcontainer{
 padding: 10px;
}