.groupBadge {
    left: 200px;
    top: 5px;
    height: 48px;
    width: 200px;
    background: url(../i/badgeGroup.grid.png);
    margin: 2px;
}

.singleBadge {
    left: 40px;     
    bottom: 5px;
    height: 48px;
    width: 48px;
    background: url(../i/badge.grid.large.png);
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 25px;
    float: left;
}
.singleBadge.leftMost {
    margin-left: 0px;
}

.subBadge {
    height:48px;
    display:inline-block;
}

.progress-meters .subBadge {
    cursor: default;
}

.bigBadge {
    cursor: default !important;
}

.subBadge.selected {
    height:48px;
    display:inline-block;
    background: url(../i/badgeGroup.grid.png);
}

/* group badges */    
.Forum-Posts { background-position: 0px 0px; }
.Passing-Submissions { background-position: 0px -48px; }
.Milestone-Prizes { background-position: 0px -96px; }
.Winning-Placements { background-position: 0px -144px; }
.First-Place-Wins { background-position: 0px -192px; }
.UI-and-Graphic-Design { background-position: 0px -240px; }
.Implementation { background-position: 0px -288px; }
.Business-Analysis { background-position: 0px -336px; padding-left: 90px; width: 110px; }
.Analytics { background-position: 0px -384px; padding-left: 110px; width: 90px;  }
.Testing-and-QA { background-position: 0px -432px; padding-left: 90px; width: 110px;  }

/* progress meters-development sub badges */
.Forum-Posts-1 { 
    width: 48px;
    background-position: 0px -480px !important; 
}

.Forum-Posts-100 { 
    width: 38px;
    background-position: -48px -480px !important; 
}
.Forum-Posts-500 { 
    width: 31px;
    background-position: -86px -480px !important; 
}
.Forum-Posts-1000 { 
    width: 33px;
    background-position: -117px -480px !important; 
}
.Forum-Posts-5000 { 
    width: 50px;
    background-position: -150px -480px !important; 
}


.Passing-Submissions-1 { 
    width: 48px;
    background-position: 0px -528px !important; 
}
.Passing-Submissions-50 { 
    width: 40px;
    background-position: -48px -528px !important; 
}
.Passing-Submissions-100 { 
    width: 31px;
    background-position: -88px -528px !important; 
}
.Passing-Submissions-250 { 
    width: 31px;
    background-position: -119px -528px !important; 
}
.Passing-Submissions-500 { 
    width: 50px;
    background-position: -150px -528px !important; 
}

.Milestone-Prizes-1 { 
    width: 48px;
    background-position: 0px -576px !important; 
}
.Milestone-Prizes-50 { 
    width: 35px;
    background-position: -48px -576px !important; 
}
.Milestone-Prizes-100 { 
    width: 32px;
    background-position: -84px -576px !important; 
}
.Milestone-Prizes-250 { 
    width: 31px;
    background-position: -116px -576px !important; 
}
.Milestone-Prizes-500 { 
    width: 50px;
    background-position: -150px -576px !important; 
}

.Winning-Placements-1 { 
    width: 48px;
    background-position: 0px -624px !important; 
}
.Winning-Placements-25 { 
    width: 38px;
    background-position: -48px -624px !important; 
}
.Winning-Placements-50 { 
    width: 31px;
    background-position: -86px -624px !important; 
}
.Winning-Placements-100 { 
    width: 33px;
    background-position: -117px -624px !important; 
}
.Winning-Placements-250 { 
    width: 50px;
    background-position: -150px -624px !important; 
}

.First-Place-Wins-1 { 
    width: 48px;
    background-position: 0px -672px !important; 
}
.First-Place-Wins-25 { 
    width: 38px;
    background-position: -48px -672px !important; 
}
.First-Place-Wins-50 { 
    width: 31px;
    background-position: -86px -672px !important; 
}
.First-Place-Wins-100 { 
    width: 33px;
    background-position: -117px -672px !important; 
}
.First-Place-Wins-250 { 
    width: 50px;
    background-position: -150px -672px  !important; 
}

/* progress meters-studio sub badges */
.Studio-Forum-Posts-1 { 
    width: 48px;
    background-position: 0px -480px !important; 
}

.Studio-Forum-Posts-100 { 
    width: 40px;
    background-position: -48px -480px !important; 
}
.Studio-Forum-Posts-500 { 
    width: 31px;
    background-position: -88px -480px !important; 
}
.Studio-Forum-Posts-1000 { 
    width: 31px;
    background-position: -119px -480px !important; 
}
.Studio-Forum-Posts-5000 { 
    width: 50px;
    background-position: -150px -480px !important; 
}


.Studio-Passing-Submissions-1 { 
    width: 48px;
    background-position: 0px -528px !important; 
}
.Studio-Passing-Submissions-50 { 
    width: 40px;
    background-position: -48px -528px !important; 
}
.Studio-Passing-Submissions-100 { 
    width: 31px;
    background-position: -88px -528px !important; 
}
.Studio-Passing-Submissions-250 { 
    width: 31px;
    background-position: -119px -528px !important; 
}
.Studio-Passing-Submissions-500 { 
    width: 50px;
    background-position: -150px -528px !important; 
}

.Studio-Milestone-Prizes-1 { 
    width: 48px;
    background-position: 0px -576px !important; 
}
.Studio-Milestone-Prizes-50 { 
    width: 40px;
    background-position: -48px -576px !important; 
}
.Studio-Milestone-Prizes-100 { 
    width: 31px;
    background-position: -88px -576px !important; 
}
.Studio-Milestone-Prizes-250 { 
    width: 31px;
    background-position: -119px -576px !important; 
}
.Studio-Milestone-Prizes-500 { 
    width: 50px;
    background-position: -150px -576px !important; 
}

.Studio-Winning-Placements-1 { 
    width: 48px;
    background-position: 0px -624px !important; 
}
.Studio-Winning-Placements-25 { 
    width: 40px;
    background-position: -48px -624px !important; 
}
.Studio-Winning-Placements-50 { 
    width: 31px;
    background-position: -88px -624px !important; 
}
.Studio-Winning-Placements-100 { 
    width: 31px;
    background-position: -119px -624px !important; 
}
.Studio-Winning-Placements-250 { 
    width: 50px;
    background-position: -150px -624px !important; 
}

.Studio-First-Place-Wins-1 { 
    width: 48px;
    background-position: 0px -672px !important; 
}
.Studio-First-Place-Wins-25 { 
    width: 40px;
    background-position: -48px -672px !important; 
}
.Studio-First-Place-Wins-50 { 
    width: 31px;
    background-position: -88px -672px !important; 
}
.Studio-First-Place-Wins-100 { 
    width: 31px;
    background-position: -119px -672px !important; 
}
.Studio-First-Place-Wins-250 { 
    width: 50px;
    background-position: -150px -672px  !important; 
}

.Studio-Cup-Top-5 { background-position: 0px -240px; }
.Digital-Run-Top-5 { background-position: 0px -288px; }
.Studio-Cup-Winner { background-position: 0px -336px; }
.Digital-Run-Winner { background-position: 0px -384px; }
.TCO-On-Site-Competitor { background-position: 0px -432px; }
.TCO-Finalist { background-position: 0px -480px; }
.TCO-Champion { background-position: 0px -528px; }
.Member-of-the-Month { background-position: -48px -240px; }
.TopCoder-Event-Trip-Winner { background-position: -96px -240px; }
.TCCC-On-Site-Competitor { background-position: -144px -240px; }
.TCCC-Finalist { background-position: -192px -240px; }
.TCCC-Champion { background-position: -48px -288px; }

.Studio-Spec-Reviewer { background-position: -96px -288px; }
.Studio-Screener { background-position: -144px -288px; }
.TopCoder-Reviewer { background-position: -192px -288px; }

.Studio-Spirit { background-position: -48px -336px; }
.Studio-Mentor { background-position: -96px -336px; }
.TopCoder-Spirit { background-position: -144px -336px; }
.TopCoder-Mentor { background-position: -192px -336px; }

.Wireframe { 
    width: 31px;
    background-position: 0px -720px !important; 
}
.Desktop-App-UI { 
    width: 35px;
    background-position: -31px -720px !important; 
}
.Mobile-UI { 
    width: 24px;
    background-position: -66px -720px !important; 
}
.Web-UI {
    width: 32px;
    background-position: -90px -720px !important; 
}
.Branding-Marketing-Presentation { 
    width: 26px;
    background-position: -122px -720px !important; 
}
.UI-and-Graphic-Design-Group {
    width: 52px;
    background-position: -148px -720px !important; 
}

.UI-Development {
    width: 40px;
    background-position: 0px -768px !important; 
}
.Architecture-and-Design { 
    width: 30px;
    background-position: -40px -768px !important; 
}
.Component-Development { 
    width: 35px;
    background-position: -70px -768px !important; 
}
.Assembly { 
    width: 40px;
    background-position: -105px -768px !important; 
}
.Implementation-Group {
    width: 55px;
    background-position: -145px -768px !important; 
}


.Idea-Generation { 
    width: 28px;
    background-position: 0px -816px !important; 
}
.Conceptualization { 
    width: 30px;
    background-position: -28px -816px !important; 
}
.Business-Analysis-Group {
    width: 52px;
    background-position: -58px -816px !important; 
}

.Big-Data {
    width: 38px;
    background-position: 0px -864px !important; 
}
.Analytics-Group {
    width: 52px;
    background-position: -33px -864px !important; 
}

.Test-Scenarios { 
    width: 29px;
    background-position: 0px -912px !important; 
}

.Bug-Hunts { 
    width: 29px;
    background-position: -29px -912px !important;  
}

.Testing-and-QA-Group {
    width: 52px;
    background-position: -58px -912px !important;  
}

span.subBadge.selected {
    border: none;
    padding: 0;
}

.foto.memberPhoto {
    border: none;
}
