/* src/main/com/topcoder/web/tc/view/pacts/client/PaymentStatusSummary.jsp */

body {
  background-color: var(--tc-white);
}

#payments > br { display: none; }

.page {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - 41px);
  max-width: var(--screen-max);
  margin: 0 auto;
  padding: 32px;
  box-sizing: content-box;
}
  .page table.myHome tbody tr td.bodyColumn#payments {
    padding: 0;
  }
  @media (max-width: /* --sm-max */ 959px) {
    .page {
      min-height: calc(100vh - var(--header-height-mobile) - 75px - 32px);
      max-width: 100%;
      padding: 16px 16px 8px;
    }
  }

.page-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
  .page-header .title {
    order: -2;
    flex: auto;
    padding-right: 1em;
    text-transform: uppercase;

    margin-bottom: 0 !important;
    font-family: 'Barlow Condensed';
    font-weight: 600 !important;
    font-size: 34px !important;
    line-height: 32px !important;
    color: var(--black-100) !important;
    border-bottom: none !important;
  }
  .page-header .back-btn {
    order: -3;
    flex: none;
    align-self: flex-end;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 32px;
    height: 24px;
    margin-right: 16px;
    margin-bottom: 1px;
    border: 1.5px solid var(--green);
    border-radius: 24px;
    box-sizing: border-box;
  }
  .page-header .back-btn .arrow-prev-icon {
    content: url('/i/reskin-2/arrow-prev.svg');
  }
  .page-header .page-header-right {
    display: flex;
    align-items: center;
    column-gap: 24px;
  }
  .page-header .page-header-right .how-to-get-paid {
    text-transform: uppercase;
    padding: 0 !important;
  }
  .page-header .page-header-right .how-to-get-paid a {
    font-family: Roboto;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    color: var(--green);

    display: block;
  }
  .page-header .page-header-right .how-to-get-paid a:hover {
    text-shadow: none;
  }
  .page-header .page-header-right .payment-settings-btn {
    padding: 0px 16px;
    background: var(--tc-white);
    border: 1.5px solid var(--green);
    border-radius: 24px;
  }
  .page-header .page-header-right .payment-settings-btn a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;

    letter-spacing: 0.008em;
    text-transform: uppercase;

    color: var(--green);
  }
  .page-header .divider {
    width: 100%;
    height: 2px;
    margin: 23px 0 24px;
    background-color: var(--divider);
  }
  .page-header .tabs,
  .page-header .dropdown {
    width: 100%;
  }
  @media (min-width: /* --md-min */ 960px) {
    .page-header .dropdown {
      display: none;
    }
  }
  @media (max-width: /* --sm-max */ 959px) {
    .page-header .tabs {
      display: none;
    }
    .page-header .back-btn {
      margin-right: calc(100% - 32px);
      margin-bottom: 8px;
    }
    .page-header .title {
      font-size: 28px !important;
      line-height: 32px !important;
    }
    .page-header .how-to-get-paid a {
      font-size: 14px;
      line-height: 14px;
    }
  }

.paymentHistoryTabs {
  display: flex;
  height: 42px;
  background-color: var(--blue-1);
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid var(--black-20);
}
  .paymentHistoryTabs .item {
    font-family: Barlow;
    font-weight: 600;
    font-size: 14px;
    color: var(--black-80);
    line-height: 20px;
    padding: 12px 16px 10px 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
  }
    .paymentHistoryTabs .item:first-child {
      border-radius: 4px 0 0 0;
    }
    .paymentHistoryTabs .item:not(.active):hover {
      background-color: var(--blue-2);
    }
    .paymentHistoryTabs .item.active {
      color: var(--black-100);
      font-weight: 700;
      background-color: var(--blue-2);
    }
    .paymentHistoryTabs .item.active::after {
      content: "";
      background-image: url("/i/reskin-2/nav-active-item.svg");
      height: 10px;
      width: 40px;
      justify-content: center;
      z-index: 100;
      display: block;
      position: absolute;
      top: 100%;
    }

.paymentHistoryDropdown {
}
  .paymentHistoryDropdown .dropdown-toggle {
    display: block;
    width: 100%;
    padding: 0;
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;

    background-color: var(--blue-1);
    height: 40px;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #d4d4d4;
  }
  .paymentHistoryDropdown .dropdown-toggle .toggle-value {
    font-family: Barlow;

    font-weight: 700;
    color: var(--tc-black);
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding-left: 16px;
    padding-top: 10px;
  }
  .paymentHistoryDropdown .dropdown-toggle .icon {
    align-self: center;
    padding: 0 12px;
    font-size: 0;
  }
    .paymentHistoryDropdown .dropdown-toggle .icon::before {
      content: url('/i/reskin-2/cheveron-down.svg');
    }
    .paymentHistoryDropdown .dropdown-toggle[data-open] .icon {
      transform: rotate(180deg);
    }
    .paymentHistoryDropdown .dropdown-toggle[data-open] + .dropdown-menu {
      display: block;
    }
  .paymentHistoryDropdown .dropdown-menu {
    background-color: var(--blue-1);
    display: none;
  }
  .paymentHistoryDropdown .dropdown-menu .item {
    height: 40px;
    margin: 0;
    display: block;

    font-family: Barlow;
    font-weight: 600;
    color: #555;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    padding: 10px 16px;
    box-sizing: border-box;
  }
    .paymentHistoryDropdown .dropdown-menu .item .view-pending-badge {
      line-height: 16px;
    }
  .paymentHistoryDropdown .dropdown-menu .item.active {
    background-color: var(--blue-2);
    color: var(--tc-black);
    font-weight: 700;
  }
  .paymentHistoryDropdown .dropdown-menu .item:hover {
    background-color: var(--blue-2);
  }

.view-pending-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  margin-left: 4px;
  vertical-align: middle;
  background-color: var(--blue-3);
  border-radius: 50px;

  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 0;
  letter-spacing: 0.5px;
  color: var(--tc-white);
}

/* **************** Payment status summary table **************** */

.table-container {
  padding: 32px 0;
  margin: 9px 0 0;
}
  .table-container table colgroup col.col-payment-status {}
  .table-container table colgroup col.col-net-amount     { width: 25%; }
  .table-container table tbody tr.headerRow {
  }
    .table-container table tbody tr.headerRow td {
      background-color: transparent !important;
    }
    .table-container table tbody tr.light {
      background-color: var(--black-5);
    }
      .table-container table tbody tr.light td {
        background-color: transparent;
      }
    .table-container table tbody tr.dark {
      background-color: transparent;
    }
      .table-container table tbody tr.dark td {
        background-color: transparent;
      }

    .table-container table tbody tr.headerRow td {
      padding: 0 16px 10px !important;
      text-transform: uppercase;
      border: none !important;

      font-family: Barlow;
      font-weight: 600 !important;
      font-size: 11px;
      line-height: 14px !important;
      color: var(--grey-1);
    }
      .table-container table tbody tr.headerRow td.payment-status {
        text-align: left;
      }
      .table-container table tbody tr.headerRow td.net-amount {
        text-align: right;
      }
    .table-container table tbody tr:not(.headerRow) td {
      padding: 16px !important;
      text-transform: capitalize;
      border: none !important;

      font-family: Roboto;
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 20px !important;
      letter-spacing: 0.5px;
      color: var(--black-100);
    }
      .table-container table tbody tr:not(.headerRow) td:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }
      .table-container table tbody tr:not(.headerRow) td:last-child {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
      .table-container table tbody tr:not(.headerRow) td.payment-status {
        text-align: left;
      }
      .table-container table tbody tr:not(.headerRow) td.net-amount {
        text-align: right;
      }
      .table-container table tbody tr:not(.headerRow).totalRow td.total-text {
        text-align: left;

        font-weight: 500 !important;
        font-size: 20px !important;
        line-height: 26px !important;
      }
      .table-container table tbody tr:not(.headerRow).totalRow td.total-value {
        text-align: right;

        font-weight: 700 !important;
        font-size: 20px !important;
        line-height: 26px !important;
      }
  @media (max-width: /* --sm-max */ 959px) {
    .table-container {
      padding: 16px 0;
      margin: 0;
    }
      .table-container table tbody tr.headerRow td {
        padding: 0 16px 8px !important;
      }
  }
