/* ------------------------------------
GLOBAL 

d50000 - links color
90% = 12px
82% = 11px
------------------------------------- */


* { margin:0; padding:0; }

BODY { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:85%;
	text-align: center;
	background-color: #fff;
}


A {
	color: #d50000;
}

A:hover {
	text-decoration: underline;
}

A img{
	border: 0;
}
* :focus { outline: 0; }

/* ------------------------------------
LAYOUT
------------------------------------ */
#wrapper, .wrapper {
	width: 930px;
	margin: 0 auto;
	text-align: left;
}

/* ------------------------------------
HEADER
------------------------------------ */
#header {
	height: 185px;
	background: url(/images/home/bg_header.png) repeat-x;
	z-index:100;
}

#header .wrapper {
	position: relative;
	z-index:100;
}

	/* TC Direct Logo */
	#header H1 {
		height: 133px;
	}
	
	#header H1 A {
		display: block;
		position: absolute;
		width: 262px;
		height: 83px;
		top: 38px;
		background: url(/images/home/topcoder.png) no-repeat;
	}

	#header H1 A SPAN {
		display: none;
	}
	
	#header H1 SMALL {
		display: none;
	}
	
	#header H1 SUP {
		display: block;
		position: absolute;
		right: 0;
		top: 27px;
		width: 85px;
		height: 26px;
		background: url(/images/home/beta.png) no-repeat;
	}

	/* Ready, Engage TAGLINE */
	#ready_engage {
		position: absolute;
		width: 327px;
		height: 24px;
		right: 0;
		top: 76px;
		background: url(/images/home/ready_engage.png) no-repeat;
	}
	
	#ready_engage SPAN {
		display: none;
	}
		
	/* SUB NAVIGATION */
	#nav_support {
		position: absolute;
		right: 0;
		top: 5px;
		
	}
	
	#nav_support UL {
		list-style-type: none;
	}
	
	#nav_support UL LI {
		float: left;
		background: url(/images/home/ico_sprites.png) no-repeat;
		background-position: 0 -21px;
		padding: 0 8px 0 8px;
		list-style:none;
	}
	
	#nav_support UL LI.left {
		background: none;
		padding-left: 0;
	}
	
	#nav_support UL LI.right {
		padding-right: 0;
	}
	
	#nav_support A {
		font-size: 80%;
		font-weight: bold;
		text-decoration: none;
		color: #888;
		background: url(/images/home/ico_sprites.png) no-repeat;
		background-position: 0 3px;
		padding: 0 0 0 7px;
	}
	
	#nav_support A:hover {
		text-decoration: underline;
		color: #d50000;
	}
	
	#nav_support .on A {
		color: #d50000;
	}


/* ------------------------------------
CONTENT
------------------------------------ */

#content-main {
	width: 930px;
	float: left;
	clear: left;
	padding: 0 0 20px 0;
}
		
/* ------------------------------------
NEWS
------------------------------------ */
#news {
	clear: both;
	padding: 15px 0 20px 0;
	background: #fbfbfb url(/images/home/bg_content_news.png) repeat-x;
}

/* ------------------------------------
LINKS
------------------------------------ */
#links {
	float: left;
	width: 100%;
	padding-top: 20px;
	background: #eaeaea url(/images/home/bg_content_links.png) repeat-x;
	
}

#links A {
	text-decoration: none;
	color: #000;
}

#links A:hover {
	text-decoration: underline;
	color: #d50000;
}

#links UL {
	list-style-type: none;
	font-size: 82%;
	padding-bottom: 10px;
}

#links LI {
	padding: 3px 0 3px 0;
}

#links .col {
	float: left;
	margin-right: 30px;
}

#links H4 {
	color: #000;
	font-weight: bold;
	font-size: 90%;
	margin-bottom: 5px;
}

/* ------------------------------------
FOOTER
------------------------------------ */
#footer {
	clear: both;
	padding-top: 10px;
	background: #000;
	color: #cccccc;
	padding-bottom: 20px;
}

	#footer P {
		width: 420px;
		line-height: 16px;
		padding: 5px 0 5px 0;
		font-size: 82%;
	}
	
		#footer_safe_secure {
			float: right;
			color: #FFF;
			text-align: right;
		}
		
			#footer_safe_secure EM {
				font-style: normal;
				font-weight: bold;
				font-size: 110%;
			}
	
		#footer_1800 {
			color: #FF0000;
			padding-bottom: 10px;
		}
		
			#footer_1800 STRONG {
				font-size: 140%;
			}

/* ------------------------------------
MISC 
------------------------------------ */
.tabs_content IMG {
	border: none;
}
.center { text-align: center; }
#accessibility, .hide { display: none; }
.clear { clear: both; height:1%; }

/* Carousel Styling */
#news-carousel {list-style-type:none;}
#news-carousel li {border-left:1px dotted #999999;width: 270px;
    height:125px;padding-top:25px;}
.news-image {
	float:left;
	padding: 0 5px;
	height:100%;
	vertical-align:middle;
}
.news-text {font-size:11px;line-height:13px;color:#313131;font-weight:bold;padding-right:10px;}
.news-text a {
	color: #da1d24;
	text-decoration: none;
}
.news-text a:hover {
	text-decoration: underline;
}
.news-text .news-description {
	font-size: 10px;
	font-weight: normal;
	line-height: 11px;
	color: #313131;
}



.jcarousel-container-horizontal {
    width: 819px;
    padding: 20px 40px;
	height:145px;
	background-image:url(/images/home/carousel-container.png);
	margin: 10px auto;
	background-repeat:no-repeat;
}


.jcarousel-clip-horizontal {
    width:  819px;
    height: 180px;
}

.jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

.jcarousel-next-horizontal {
    position: absolute;
    top: 80px;
    right: 4px;
   width: 26px;
    height: 32px;
    cursor: pointer;
}

 .jcarousel-next-horizontal:hover {
}

.tc-news .jcarousel-next-horizontal:active {
}

.jcarousel-next-disabled-horizontal,
.jcarousel-next-disabled-horizontal:hover,
.jcarousel-next-disabled-horizontal:active {
    cursor: default;
	background-image:url(/images/home/next-button-deactive.png)
}
 .jcarousel-prev-horizontal {
    position: absolute;
    top: 80px;
    left: 4px;
    width: 26px;
    height: 32px;
    cursor: pointer;
}

 .jcarousel-prev-horizontal:hover {
}

 .jcarousel-prev-horizontal:active {
}

.jcarousel-prev-disabled-horizontal,
 .jcarousel-prev-disabled-horizontal:hover,
 .jcarousel-prev-disabled-horizontal:active {
    cursor: default;
	background-image:url(/images/home/prev-button-deactive.png)
}

/* Homepage Specific */
#welcome-banner {
	width: 667px;
	float: left;
}
	#welcome-banner h2 a {
		text-indent: -3000px;
		background-image:url(/images/home/welcome-banner-sm.png);
		background-position: center top;
		background-repeat: no-repeat;
		width: 667px;
		height: 131px;
		display:block;
	}
	#contact-button h2 a {
		text-indent:-3000px;
		background-image:url(/images/home/contact.png);
		background-position:center top;
		background-repeat:no-repeat;
		width:210px;
		height:79px;
		padding-left:40px;
		float:left;
		margin-top:15px;
	}
	#contact-button h2 a:hover {
		background-image:url(/images/home/contact-over.png);
		background-position:center top;
		background-repeat:no-repeat;
	}
#news h2 {
	text-indent: -3000px;
	background-image:url(/images/home/news-announcements.png);
	background-position: 40px top;
	background-repeat: no-repeat;
	height: 30px;
	margin: 0px;
	padding: 0px;
}
#client-content {
	float: left;
	width: 490px;
	margin-right: 50px;
	padding-bottom: 20px;
}
	#client-box {
		background-image: url(/images/home/client-box-bkg.png);
		background-position: left top;
		background-repeat: no-repeat;
		float: left;
		width: 490px;
	}
	#client-box-bottom {
		background-image: url(/images/home/client-box-bot.png);
		background-position: left top;
		background-repeat: no-repeat;
		float: left;
		width: 490px;
		height: 40px;
	}
#enterprise-solutions,
#tc-direct,
#contact-tc {
	width: 440px;
	float: left;
	clear: left;
	margin: 0px 12px 0px 10px;
	padding: 15px 14px;
}
#enterprise-solutions {
	margin-top: 13px;
	background-image: url(/images/home/enterprise-bkg.png);
	background-repeat: no-repeat;
	background-position: left top;
	border-bottom: 1px solid #e6e6e6;
	padding-top: 30px;
}
	#enterprise-solutions h3,
	#contact-tc h3 {
		font-size: 20px;
		padding-top: 5px;
	}
	#enterprise-solutions h3 a {
		color: #313131;
		text-decoration: none;
	}
	#enterprise-solutions h3 a:hover {
		color: #d50000;
		text-decoration: underline;
	}
	#tc-direct h3 a {
		background-image: url(/images/home/direct-header.png);
		background-position: left top;
		background-repeat: no-repeat;
		width: 250px;
		height: 77px;
		float: left;
		text-indent: -3000px;
	}
	#enterprise-solutions h4,
	#tc-direct h4,
	#contact-tc h4 {
		font-size: 14px;
		font-weight: normal;
		color: #666;
	}
	#tc-direct h4 {
		float: left;
		width: 180px;
		padding-top: 20px;
	}
#member-content {
	float: left;
	width: 362px;
	padding-bottom: 20px;
}
	#member-box {
		background-image: url(/images/home/member-box-bkg.png);
		background-position: left top;
		background-repeat: no-repeat;
		float: left;
		width: 362px;
	}
	#member-box-bottom {
		background-image: url(/images/home/member-box-bot.png);
		background-position: left top;
		background-repeat: no-repeat;
		float: left;
		width: 362px;
		height: 40px;
	}
#compete h2 {
	text-indent: -3000px;
	background-image: url(/images/home/compete-against-best.png);
	background-position: center top;
	background-repeat: no-repeat;
	height: 52px;
	width: 340px;
	margin: 15px 10px 0px 12px;
	float: left;
	clear: left;
}
/* Member Count */
#member-area {
	width: 340px;
	margin: 13px 10px 0px 12px;
	float: left;
	clear: left;
}
	#member-count {
		width: 340px;
		height: 138px;
		float: left;
		clear: left;
		background-image: url(/images/home/membercount-bkg.png);
		background-position: left top;
		background-repeat: no-repeat;
	}
	#member-count h4 {
		float: left;
		width: 340px;
		text-align: center;
		font-size: 20px;
		color: #313131;
		padding-top: 15px;
	}
		#member-count h4 span {
			color: #da1d24;
		}
	
#compete div {
	width: 340px;
	margin: 0px 10px 0px 12px;
	float: left;
	clear: left;
	border-bottom: 1px solid #d6d6d6;
	padding: 15px 0px;
}
#compete img {
	float: left;
	padding-right: 4px;
}
#compete p {
	font-size: 11px;
	color: #313131;
	line-height: 13px;
}
#compete-competitions h3,
#compete-studio h3,
#compete-digitalrun h3 {
	text-indent: -3000px;
	background-image: url(/images/home/competitions-header.png);
	background-position: left top;
	background-repeat: no-repeat;
	width: 223px;
	height: 18px;
	float: left;
}
#compete-studio h3 {
	background-image: url(/images/home/studio-header.png);
}
#compete-digitalrun h3 {
	background-image: url(/images/home/digitalrun-header.png);
}
	#compete-competitions h3 a,
	#compete-studio h3 a,
	#compete-digitalrun h3 a {
		display: block;
		width: 200px;
	}
.wide-ad-banner {
	margin: 0px auto;
	width: 482px;
}
	.wide-ad-banner img {
		margin-top: 10px;
	}

.link-list {
	list-style-type: none;
	padding-top: 20px;
}
	#tc-direct .link-list {
		clear: left;
		width: 100%;
	}
	.link-list li {
		float: left;
		padding: 0px 6px;
		margin: 0px;
		border-right: 1px solid #000;
		height: 17px;
	}
	.link-list li.last {
		border-right: none;
	}
	.link-list li.first {
		padding-left: 0px;
	}
	.link-list a {
		text-transform: uppercase;
		font-size: 11px;
		line-height: 11px;
		text-decoration: none;
		font-weight: bold;
	}
	.link-list a:hover {
		text-decoration: underline;
	}
	
/* Buttons */
.button-container {
	padding-top: 15px;
	float: right;
	width: 100%;
}
	.button {
		text-align: left;
		color: #616161;
		font-family: Arial;
		font-size: 13px;
		font-weight: bold;
		text-decoration: none;
		padding-left: 15px;
		width: 132px;
		height: 28px;
		padding-top: 7px;
		display: block;
		text-transform: uppercase;
		float: right;
	}
	.button {
		margin-left: auto;
		margin-right: auto;
		background: url( "/images/home/buttonbg.png" ) no-repeat;
	}
	
	.button:hover {
		text-decoration: none;
		background: url( "/images/home/buttonOverbg.png" ) no-repeat;
	}
	.small-button {
		text-align: left;
		color: #616161;
		font-family: Arial;
		font-size: 11px;
		text-decoration: none;
		/*padding-left: 9px;*/
		padding-right: 30px;
		/*width: 100px;*/
		height: 24px;
		/*padding-top: 5px;*/
		display: block;
		text-transform: uppercase;
		float: left;
		margin: 10px 6px 0px;
	}
	.small-button {
		background: url( "/images/home/buttonbg-sm.png" ) no-repeat;
		background-position: right top;
	}
		.small-button span {
			background: url( "/images/home/buttonbg-cap-sm.png" ) no-repeat;
			background-position: left top;
			padding-left: 9px;
			padding-top: 5px;
			height: 24px;
			display: block;
			float: left;
			cursor: pointer;
		}
	
	.small-button:hover {
		text-decoration: none;
		background: url( "/images/home/buttonOverbg-sm.png" ) no-repeat;
		background-position: right top;
	}
	.small-button:hover span {
		text-decoration: none;
		background: url( "/images/home/buttonOverbg-cap-sm.png" ) no-repeat;
		background-position: left top;
		cursor: pointer;
	}
	
/*------------------------------------
Login Colors
-------------------------------------*/
.coderTextRed, .coderTextYellow, .coderTextBlue, .coderTextGreen, .coderTextGray, .coderTextOrange { 
font-weight: bold; 
background-color: transparent;
background-image:none !important;
padding-left:0 !important;
}
.coderTextRed:link, .coderTextYellow:link, .coderTextBlue:link, .coderTextGreen:link, .coderTextGray:link, .coderTextOrange:link, .coderTextWhite:link, .coderTextBlack:link { 
text-decoration: none;
}
.coderTextRed:visited, .coderTextYellow:visited, .coderTextBlue:visited, .coderTextGreen:visited, .coderTextGray:visited, .coderTextOrange:visited, .coderTextWhite:visited, .coderTextBlack:visited { 
text-decoration: none;
}
.coderTextRed:hover, .coderTextYellow:hover, .coderTextBlue:hover, .coderTextGreen:hover, .coderTextGray:hover, .coderTextOrange:hover, .coderTextWhite:hover, .coderTextBlack:hover { 
text-decoration: underline;
}
.coderTextRed:active, .coderTextYellow:active, .coderTextBlue:active, .coderTextGreen:active, .coderTextGray:active, .coderTextOrange:active, .coderTextWhite:active, .coderTextBlack:active { 
text-decoration: underline;
}

/* Orange */
.coderTextOrange, .coderTextOrange:link, .coderTextOrange:visited, .coderTextOrange:hover, .coderTextOrange:active { color: #FF9900 !important; }
/* Red */
.coderTextRed, .coderTextRed:link, .coderTextRed:visited, .coderTextRed:hover, .coderTextRed:active { color: #EE0000 !important; }
/* Yellow */
.coderTextYellow, .coderTextYellow:link, .coderTextYellow:visited, .coderTextYellow:hover, .coderTextYellow:active { color: #DDCC00 !important; }
/* Blue */
.coderTextBlue, .coderTextBlue:link, .coderTextBlue:visited, .coderTextBlue:hover, .coderTextBlue:active { color: #6666FF !important; }
/* Green */
.coderTextGreen, .coderTextGreen:link, .coderTextGreen:visited, .coderTextGreen:hover, .coderTextGreen:active { color: #00A900 !important; }
/* Gray */
.coderTextGray, .coderTextGray:link, .coderTextGray:visited, .coderTextGray:hover, .coderTextGray:active { color: #999999 !important; }
/* White */
.coderTextWhite, .coderTextWhite:link, .coderTextWhite:visited, .coderTextWhite:hover, .coderTextWhite:active { color: #FFFFFF !important; }
/* Black */
.coderTextBlack, .coderTextBlack:link, .coderTextBlack:visited, .coderTextBlack:hover, .coderTextBlack:active { color: #000000 !important; }

/* ------------------------------------
MISC 
------------------------------------ */
.tabs_content IMG {
	border: none;
}
.center { text-align: center; }
#accessibility, .hide { display: none; }
.clear { clear: both; height:1%; }
.sub-active, .sub-active:visited {background-color:#666666;color:#FFFFFF !important;}

.rss_links {margin-top:8px;}
.rss_links li {background-image:url(../images/feed-icon-14x14.png);background-repeat:no-repeat;padding-left:18px;line-height:14px;padding-bottom:8px;}


/* About TC Page CSS */
#about-tc-wrapper {background-color:#fff;width:100%;}
#slide-container {width:100%;height:213px;background:url(/images/slider/about-nav-background.png) bottom repeat-x;z-index:10;position:relative;}
#about-nav-container {position:relative;width:901px;margin:0 auto;height:200px;background-color:#fff;background:url(/images/slider/about-nav-container-background.png) top no-repeat;background-color:#fff;text-align:left;}
#about-nav-container h2 {text-indent:-9999px;background:url(/images/slider/about-tc-header.png) no-repeat; height:36px;width:186px;margin-left:10px;	}
#about-nav-container a {display:block;position:absolute;text-indent:-9999px;}
#community {background:url(/images/slider/community.png) no-repeat;height:103px;width:270px;left:12px;top:34px;}
#battling {background:url(/images/slider/battling.png) no-repeat;height:70px;width:253px;left:197px;top:102px;}
#results {background:url(/images/slider/result.png) no-repeat;height:92px;width:344px;left:412px;top:27px;}
#plugin {background:url(/images/slider/plugin.png) no-repeat;height:56px;width:291px;left:601px;top:103px;}

#drawer-container {min-height:445px;background-color:#fff;width:100%;position:relative;top:-5px;text-align:left;}
.drawer {width:900px;margin:0 auto;background:url(/images/slider/drawer-background.png) repeat-y;}
.drawer-inner-wrapper {padding:6px  5px}
.drawer p {font-size:11px;text-align:left;font-family:Arial, Helvetica, sans-serif;line-height:15px;}
#drawer-footer {margin:0 auto;width:900px;height:24px;background-image:url(/images/slider/drawer-footer-background.png);}
.left-column {float:left;display:inline;width:415px;padding-left:5px;}
.right-column {float:left;display:inline;width:450px;margin-left:16px;}
.clear {clear:both;}
#drawer-content1 {width:900px;height:350px;}
#drawer-content2, #drawer-content3, #drawer-content4 {display:none;width:900px;height:250px;}
#drawer-content2 {height:415px;}
#drawer-content3 {height:300px;}
#community-drawer h2 {height:51px;width:290px;text-indent:-9999px;background-image:url(/images/slider/community-header.png); margin-bottom:6px;}
#community-drawer .links {list-style-type:none; margin-top:12px;}
#community-drawer .links li {font-size:11px;line-height:15px;margin-bottom:2px;}
#competitions-drawer h2 {height:51px;width:334px;text-indent:-9999px;background-image:url(/images/slider/competitions-header.png);margin-bottom:6px;}
#competitions-drawer h4 {margin-bottom:8px;margin-top:12px;background-image:url(/images/slider/compete-now-header.png);text-indent:-9999px;height:66px;width:230px;}
#competitions-drawer .left-list {float:left; width:165px;margin-left:15px;margin-top:5px;}
#competitions-drawer .right-list {float:right;width:165px;margin-left:5px;margin-top:5px;}
#competitions-drawer ul li {margin-bottom:1px;}
#competitions-drawer ul li a, #competitions-drawer ul li a:visited {color:#1e9950;font-size:11px;}
#competitions-drawer ul li a:hover {text-decoration:none;}
#competitions-drawer .right-column {margin-top:95px;}

#methodology-drawer h2 {height:51px;width:323px;text-indent:-9999px;background-image:url(/images/slider/methodology-header.png);margin-bottom:6px;}
#methodology-drawer #components-graphic {background-image:url(/images/slider/components-graphic.png);height:144px;width:474px;position:relative;}
#methodology-drawer h3 {margin:10px 0;}
#components-graphic a {position:absolute;right:0;bottom:-35px;}
#methodology-drawer .left-column {width:380px;}
#methodology-drawer .right-column {margin-top:45px;}

#engaged-drawer h2 {height:51px;width:225px;text-indent:-9999px;background-image:url(/images/slider/engaged-header.png);margin-bottom:6px;} 
.engage-text {padding-right:185px;background:url(/images/slider/planet-graphic.png) right top no-repeat;}
#contact-us-button {position:relative;top:-70px;left:-15px;}
#engaged-drawer .right-column p {margin-left:55px;}
#engaged-drawer .right-column {position:relative;}
#learn-more-button {position:absolute;left:275px;top:20px;}
#about-contact-button {position:absolute;right:0px;bottom:0px;text-indent:0px !important;}

#member-map {height:233px;width;448px;background-image:url(/images/slider/map-graphic.png);background-repeat:no-repeat;;position:relative;}
#member-map h3 {font-family:Arial, Helvetica, sans-serif;font-size:20px;position:absolute;top:10px;left:85px;}
.red {color:#da1d24;}
.blue {color:#2d99d2;}
.green {color:#1e9950;}
.join-today {position:absolute;bottom:0;left:165px;}
.subhead1 {font-weight:bold;font-style:italic;font-size:14px;color:#2d99d2;}

#digital-run {background-image:url(/images/slider/digitalrun-logo.png); background-repeat:no-repeat; padding-left:88px;min-height:78px;margin-top:5px; }
#topcoder-open {background-image:url(/images/slider/tco-logo.png);background-repeat:no-repeat;padding-left:88px;min-height:78px;margin-top:5px; }
#topcoder-studio {background-image:url(/images/slider/studio-logo.png);background-repeat:no-repeat;height:68px;width:199px;text-indent:-9999px;display:block;margin:10px 0;}
#tcdirect {background-image:url(/images/slider/direct-logo.png);width:190px;height:71px;margin-bottom:10px;text-indent:-9999px;}
